.albumContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.albumContent p {
  color: #023031;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

.albumContent img, .albumContent p {
  margin-top: 15px;
}
